@page
@model Dale.WebSite.Pages.Product.DeleteModel
@{
}
<h1>Eliminar</h1>

<h3>Esta seguro que desea eliminar este registro?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDTO.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductDTO.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDTO.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductDTO.Stock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDTO.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductDTO.Value)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ProductDTO.Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index">Volver a la lista</a>
    </form>
</div>