@page
@model Dale.WebSite.Pages.Customer.IndexModel
@{
}

<h1>Administración de Clientes</h1>

<p>
    <a asp-page="Create">Crear Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDTO[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDTO[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDTO[0].DocumentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDTO[0].CellPhone)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CustomerDTO)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CellPhone)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>